@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,300;1,400&display=swap');
:root
{
	--white: #eee;
	--black: #111;
	--darkGrey: #555;
	--primaryColor: red;

	--headerHeight: 100px;
}

*, ::before, ::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
	text-decoration: none;
}

h1
{
	color: var(--darkGrey);
}

a
{
	color: var(--primaryColor);
	font-weight: 600;
}

a:hover
{
	text-decoration: underline;
}

a.button
{
	border-radius: 10px;
	background: var(--primaryColor);
	display: block;
	padding: 17px 22px;

	color: var(--white);
	font-weight: 600;
}

body
{
	margin-top: var(--headerHeight);
	background: var(--white);
	overflow-x: hidden;
}

img
{
	user-select: none;
}

img.icon
{
	height: 50px;
}

img.smallIcon
{
	height: 35px;
}

.invert
{
	filter: invert(1);
}

header
{
	position: fixed;
	top: 0; left: 0; right: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	height: var(--headerHeight);
	padding: 15px;
	background: var(--white);

	border-bottom: var(--primaryColor) 3px solid;
}

.containerfiche
{
	background: url("includes/images/backgrounds/tesla-model-s.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
.containerfiche2
{
	background: url("includes/images/backgrounds/ce64b0113565871.602ab9ba6e512.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.containerfiche2 h1
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;

	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: rgb(255, 255, 255);
}
.containerfiche2 span
{
	text-shadow: 0 0 5px #ffd900;
	color: #ffd900;
}
.containerfiche2 p
{
	font-family: 'Montserrat', sans-serif;
	color: white;
	line-height: 20px;
}
.containerfiche2 .VoitureImages
{
	text-align: center;
	font-size: 25px;
}
.containerfiche2 .infoVoiture
{
	width: 550px;
	color: white;
}
.containerfiche2 .VoitureImages img
{
	width: 600px;
}
.containerfiche2 .infoVoiture a
{
	background-color: #ffd900;
	padding: 8px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	border: 1px #ffd900 solid;
	color: rgb(0, 0, 0);
	font-weight: 500;
	font-size: 15px;
}
.containerfiche2 .infoVoiture a:hover
{
	color: #ffd900;
	background: none;
	border: solid #ffd900 1px;
	cursor: pointer;
}



.containerfiche3
{
	background: url("includes/images/backgrounds/vilebrequin-sylvain.gif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.containerfiche3 h1
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;

	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: rgb(255, 255, 255);
}
.containerfiche3 span
{
	text-shadow: 0 0 5px #008cff;
	color: #008cff;
}
.containerfiche3 p
{
	font-family: 'Montserrat', sans-serif;
	color: white;
	line-height: 20px;
}
.containerfiche3 .VoitureImages
{
	text-align: center;
	font-size: 25px;
}
.containerfiche3 .infoVoiture
{
	width: 550px;
	color: white;
}
.containerfiche3 .VoitureImages img
{
	width: 600px;
}
.containerfiche3 .infoVoiture a
{
	background-color: #002fff;
	padding: 8px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	border: 1px #002fff solid;
	color: rgb(255, 255, 255);
	font-weight: 500;
	font-size: 15px;
}
.containerfiche3 .infoVoiture a:hover
{
	color: #002fff;
	background: none;
	border: solid #002fff 1px;
	cursor: pointer;
}




.containerfiche h1
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;

	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: rgb(255, 255, 255);
}
.containerfiche span
{
	text-shadow: 0 0 5px #ff0000;
	color: var(--primaryColor);
}
.containerfiche p
{
	font-family: 'Montserrat', sans-serif;
	color: white;
	line-height: 20px;
}
.containerfiche .VoitureImages
{
	text-align: center;
	font-size: 25px;
}
.containerfiche .infoVoiture
{
	width: 550px;
	color: white;
}
.containerfiche .VoitureImages img
{
	width: 600px;
}
.containerfiche .infoVoiture a
{
	background-color: var(--primaryColor);
	padding: 8px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	border: 1px var(--primaryColor) solid;
	color: white;
	font-weight: 500;
	font-size: 15px;
}
.containerfiche .infoVoiture a:hover
{
	color: rgb(255, 255, 255);
	background: none;
	border: solid var(--white) 1px;
	cursor: pointer;
}
.containerinfovehicule
{
	display: flex;
	justify-content: space-around;
	height: 100vh;
	background: url("includes/images/backgrounds/TeslaBg.jpg");
	background-size: cover;
}
.containerinfovehicule .Information
{
	padding-top: 200px;
	width: 300px;
}
.containerinfovehicule h1
{
	color: var(--primaryColor);
}
.containerinfovehicule p
{
	color: var(--white);
}

.containerinfovehicule3
{
	display: flex;
	justify-content: space-around;
	height: 100vh;
	background: url("includes/images/backgrounds/dourfer-robin-1000tipla-0003-multi13-compo-name.jpg");
	background-size: cover;
}
.containerinfovehicule2 .Information
{
	padding-top: 200px;
	width: 300px;
}
.containerinfovehicule3 h1
{
	font-family: 'Montserrat', sans-serif;
	color: #002fff;
}
.containerinfovehicule3 p
{
	font-family: 'Montserrat', sans-serif;
	color: black;
}

.containerinfovehicule2
{
	
	display: flex;
	justify-content: space-around;
	height: 100vh;
	background: url("includes/images/backgrounds/lamborBack.jpg");
	background-size: cover;
}
.containerinfovehicule3 .Information
{
	
	padding-top: 200px;
	width: 300px;
}
.containerinfovehicule2 h1
{
	font-family: 'Montserrat', sans-serif;
	color: #ffd900;
}
.containerinfovehicule2 p
{
	font-family: 'Montserrat', sans-serif;
	color: var(--white);
}
.homeContainer
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.homeContainer .cardsContainer
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
}

.homeContainer .cardsContainer .card
{
	transition: .15s;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	height: 620px;

	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	padding: 20px;
	border-radius: 15px;
	max-width: 520px;

	text-align: center;
	padding: 0 65px;
}

.homeContainer .cardsContainer .card:hover
{
	text-decoration: none;
	transform: scale(1.06);
}

.homeContainer .cardsContainer .card img
{
	transition: .15s;
}

.homeContainer .cardsContainer .card:hover img
{
	transition: .15s;
	transform: scale(1.2);
	filter: drop-shadow(5px 5px 20px #877);
}

.homeContainer .cardsContainer .card img
{
	width: 25vw;
}

.homeContainer p.presentation
{
	text-align: center;
	margin-bottom: 55px;
	text-decoration: underline;
}
footer
{
		display: flex;
		justify-content: center;
		padding: 5px;
		background-color: #ffffff;
		color: rgb(0, 0, 0);
		border-top: 2px solid var(--primaryColor);
	
}
a.goToTop
{
	transition: .1s;
	position: fixed;
	bottom: 25px; right: 25px;

	width: 60px;
	height: 60px;
	border-radius: 999px;

	background: center / contain url("includes/images/icons/arrow.png");
}

a.goToTop:hover
{
	transform: rotateZ(-90deg);
}
